.breadcrumb-container {
    padding: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    margin-bottom: 1rem;
  }
  
  .breadcrumb {
    display: flex;
    align-items: center;
  }
  
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: '';
  }
  
  .breadcrumb-item {
    display: flex;
    align-items: center;
    color: #007bff;
  }
  
  .breadcrumb-item a {
    text-decoration: none;
  }
  
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb-icon {
    margin: 0 0.5rem;
  }
  