/* .slickcontainer {
  height: 420px;
}

.testimonial-carousel-container .testimonial-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.testimonial-carousel-container .testimonial-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.testimonial-carousel-container .testimonial-card h3 {
  margin-top: 10px;
}

.testimonial-carousel-container .testimonial-card .stars {
  color: gold;
  margin: 10px 0;
}

.testimonial-carousel-container .testimonial-card p {
  color: #555;
}

.testimonial-carousel-container {
  max-width: 1000px;
  margin: auto;
}

.testimonial-carousel-container .slick-slide {
  margin: 0 22.5px;
}

.testimonial-carousel-container .slick-list {
  margin: 0 -22.5px;
} */



.slickcontainer {
  height: 420px;
}

.testimonial-carousel-container .testimonial-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.testimonial-carousel-container .testimonial-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.testimonial-carousel-container .testimonial-card h3 {
  margin-top: 10px;
}

.testimonial-carousel-container .testimonial-card .stars {
  color: gold;
  margin: 10px 0;
}

.testimonial-carousel-container .testimonial-card p {
  color: #555;
}

.testimonial-carousel-container {
  max-width: 1000px;
  margin: auto;
}

.testimonial-carousel-container .slick-slide {
  margin: 0 22.5px;
}

.testimonial-carousel-container .slick-list {
  margin: 0 -22.5px;
}

@media (max-width: 1024px) {
  .testimonial-carousel-container .slick-slide {
    margin: 0 15px;
  }

  .testimonial-carousel-container .slick-list {
    margin: 0 -15px;
  }
}

@media (max-width: 768px) {
  .testimonial-carousel-container .slick-slide {
    margin: 0 10px;
  }

  .testimonial-carousel-container .slick-list {
    margin: 0 -10px;
  }
}


