/*  
   .testimonial-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 10 100px;
  }
  
  .testimonial-card img {
    border-radius: 50%;
    max-width: 100px;
    height: 100px;
  }
  
  .testimonial-card h3 {
    margin-top: 10px;
  }
  
  .testimonial-card .stars {
    color: gold;
    margin: 10px 0;
  }
  
  .testimonial-card p {
    color: #555;
  }
  
  .container {
    max-width: 1000px;
    margin: auto;
  }
    */



    .testimonial-card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        margin: 20px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%; 
      }
      
      .testimonial-card img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
      
      .testimonial-card h3 {
        margin-top: 10px;
      }
      
      .testimonial-card .stars {
        color: gold;
        margin: 10px 0;
      }
      
      .testimonial-card p {
        color: #555;
      }
      
      .container {
        max-width: 1000px;
        margin: auto;
      }
      